<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientID" value="YOUR CLIENT ID"/>
		<add key="ClientSecret" value="YOUR CLIENT SECRET"/>
		<add key="AccountID" value="YOUR ACCOUNT ID"/>
		<add key="UserID" value="YOUR USER ID"/>
		<add key="WebinarID" value="YOUR WEBINAR ID"/>
	</appSettings>
</configuration>